<div class="wrapper">
  <div class=box>
    <div class="img-container">
    </div>
    <div class="login-container">
      <div class="welcome">Welcome!</div>
      <div class="form-group">
        <input type="email" name="email" id="email" class="form-control input" placeholder="Email Address" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" class="form-control input" placeholder="Password" [(ngModel)]="password">
      </div>
      <div><input type="submit" class="btn btn-lg btn-success " value="Sign In" (click)="onClick()" >
      </div>
      <div>
        <button class="btn btn-lg btn-primary " (click)="registerHandler()">Register</button>
      </div>
    </div>
  </div>
</div>


