<div class="wrapper">
  <div class="card-wrapper">
    <div *ngFor="let item of itemsArray" class='card'>
      <div class="card-header">{{item.name}}</div>
      <div class="card-text">Amount: {{item.amount}}</div>
      <div class="card-text">Quantity: {{item.quantity}}</div>
      <div class="card-text">Tax: {{item.tax}}</div>

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">InvoiceList</div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">amount</th>
        <th scope="col">createdBy</th>
        <th scope="col">ItemsCount</th>
        <th scope="col">status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td  *ngFor="let details of invoiceDetails; let i = index">
          <span *ngIf="i===2">{{count}}</span>
          <span *ngIf="i!=2">{{details}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

